<div ng-controller="changePassword"  style="margin:10%;height:600px;">
	<form>
		<table style="margin:150px auto;">
			<tr style="border:solid;">
				<td align="right">Hello!&nbsp;</td><td>{{user}}</td>
			</tr>
			<tr>
				<td>New Password:</td><td><input type="password" ng-model="password"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td><td><input type="password" ng-model="cpassword"></td>
			</tr>
			<tr>
				<td></td><td><button ng-click="changePassword()">Change</button></td>
			</tr>
			<tr>
				<td></td><td style="width:170px">{{message}}</td>
			</tr>
		</table>
	</form>
</div>
