<div>
	Edit your details for the entry
<form>
	<table class="table" ng-controller="editController">
		<tbody>
			<tr>
				<td>ID:</td><td>{{id}}</td>
			</tr>
			<tr>
				<td>Client name:</td><td><input type="text" ng-model="clientname" required/></td>
			</tr>
			<tr>
				<td>Project name:</td><td><input type="text" ng-model="projectname" required/></td>
			</tr>
			<tr>
				<td>Website:</td><td><input type="text" ng-model="website"/></td>
			</tr>
			<tr>
				<td>Model type:</td><td>
				<select ng-model="modeltype">
				  <option value="Video">Video</option>
				  <option value="3D Model">3D Model</option>
				  <option value="Webpage">Webpage</option>
				</select></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit" ng-click="updateDetails()">Update</button></td>
			</tr>
			<tr>
				<td> {{displayForNow}} </td>
				<td></td>
			</tr>
		</tbody>
	</table>
</form>
</div>