<form action="/vrdata" method="post" enctype="multipart/form-data">
	<table class="table" ng-controller="formControllerVR">
		<tbody>
			<tr>
				<td> {{displayForNow}} </td>
				<td></td>
			</tr>
			<tr>
				<td>Project name:</td><td><input type="text" ng-model="projectname" id="projectname" name="projectname"required/></td>
			</tr>
			<tr>
				<td>Upload project photo:</td><td><input type="file" ng-model="projectphoto" id="projectphoto" name="projectphoto" required/><br></td>
			</tr>
			<tr>
				<td>Main Describe:</td><td><input type="text" ng-model="description" id="description" name="description"/><br></td>
			</tr>
			<tr>
				<td>Upload Interior Design:</td><td><input type="file" ng-model="interiordesign" id="interiordesign" name="interiordesign"/><br></td>
			</tr>
			<tr>
				<td>Upload Script:</td><td><input type="file" ng-model="script" id="script" name="script"/><br></td>
			</tr>
			<tr>
				<td>Show in Project:</td><td>
				<select ng-model="show" id="show" name="show">
				  <option value="Yes">Yes</option>
				  <option value="No">No</option>
				</select></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Upload Data"></td>
			</tr>
			</tbody>
	</table>
</form>