<form>
	<table class="table" ng-controller="formController">
		<tbody>
			<tr>
				<td> {{displayForNow}} </td>
				<td></td>
			</tr>
			<tr>
				<td>Client name:</td><td><input type="text" ng-model="clientname" required/></td>
			</tr>
			<tr>
				<td>Project name:</td><td><input type="text" ng-model="projectname" required/></td>
			</tr>
			<tr>
				<td>Marker name:</td><td><input type="text" ng-model="markername" required/><br></td>
			</tr>
			<tr>
				<td>Model Website:</td><td><input type="text" ng-model="website"/><br></td>
			</tr>
			<tr>
				<td>Model type:</td><td>
				<select ng-model="modeltype">
				  <option value="Video">Video</option>
				  <option value="3D Model">3D Model</option>
				  <option value="Webpage">Webpage</option>
				  <option value="360Image">360 Image</option>
				</select></td>
			</tr>
			
			<tr>
				<td></td>
				<td><button type="submit" ng-click="enterDetails()">Submit</button></td>
			</tr>
			</tbody>
	</table>
</form>