<rd-widget-body classes="medium no-padding">
<div ng-controller="listController" class="table-responsive">
  {{heading}}
  <table class="table">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Project Name</th>
            <th>Marker Name</th>
            <th>Model Name</th>
            <th>Model ID</th>
            <th>Website</th>
            <th>Model Type</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody ng-repeat="data in displaydata">
      <tr>
        <td>{{data.clientName}}</td>
        <td>{{data.projectName}}</td>
        <td>{{data.markerName}}</td>
        <td>{{data.modelId}}</td>
        <td>{{data.website}}</td>
        <td>{{data.modelType}}</td>
        <td>{{data.createdDate | date}}</td>
        <td>{{data.updatedDate | date}}</td>
        <td>{{data.isActive}}</td>
        <td><button ng-click="deleteData(data._id,data.modelId)">Delete</button></td>
        <td><button ng-click="editData(data._id)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  {{errordisplay}}
</div>
</rd-widget-body>