<form action="/uploadmodel" method="post" enctype="multipart/form-data">
	<table class="table" ng-controller="modeluploadController" id="modelInput">
		<tbody>
			<tr>
				<td>ID:</td><td><input type="text" id="rowid" name="rowid" ng-model="rowid" readonly/></td>
			</tr>
			<tr>
				<td>Model Name:</td><td><input type="text" id="modelname" name="modelname" ng-model="targetid" readonly/></td>
			</tr>
			<tr>
				<td>Model Type:</td><td><input type="text" id="modeltype" name="modeltype" ng-model="modeltype" readonly/></td>
			</tr>
			<tr>
				<td>Upload {{modeltype}}:</td><td id='modelNew'><input type="file" name='model' id="model0" ng-model="model1" onchange="angular.element(this).scope().getMaterial(0)" required/></td>
			</tr>
			<tr>
				<th ng-click="moreModel()"><div style="border: solid" align="center">ADD More</div></th>
			</tr>
			<tr>
				<td></td><td><input type="submit"></td>
			</tr>
		</tbody>
	</table>
</form>