<div ng-controller="vuforiaController">
	<h3> Only PNG/JPEG file types are supported. </h3>
<form action="/upload" method="post" enctype="multipart/form-data">
	<table class="table">
		<tbody>
			<tr>
				<td>ID:</td><td><input type="text" id="rowid" name="rowid" ng-model="rowid" readonly/></td>
			</tr>

			<tr>
				<td>Client Name:</td><td><input type="text" id="clientname" name="clientname" ng-model="clientname" readonly/></td>
			</tr>

			<tr>
				<td>Client Name:</td><td><input type="text" id="projectname" name="projectname" ng-model="projectname" readonly/></td>
			</tr>

			<tr>
				<td>Model Type:</td><td><input type="text" id="modeltype" name="modeltype" ng-model="modeltype" readonly/></td>
			</tr>

			<tr>
				<td>Marker Name:</td><td><input type="text" id="markername" name="markername" ng-model="markername" readonly/></td>
			</tr>
			
			<tr>
				<td>Width:</td><td><input type="number" id="width" name="width" ng-model="width" required/></td>
			</tr>
			<tr>
				<td>Marker Image:</td><td><input type="file" id='file' name='file' required/></td>
			</tr>
			<tr>
				<td></td><td><input type="submit" value="Upload Marker"></td>
			</tr>
			
		</tbody>
	</table>
</form>
<div ng-if="errorMessage"  style="color: #D8000C;background-color: #FFD2D2;">{{ errorMessage }}</div>
<div>