<html ng-app="vEstate">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="components/login.css">

 	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="js/module.js"></script>

	<script type="text/javascript" src="js/controllers/loginController.js"></script>
	<script type="text/javascript" src="js/controllers/signupController.js"></script>
	<script type="text/javascript" src="js/authentication.js"></script>
</head>
<body>
	<div class="login-wrap">
	    <div class="login-html" align="center">
	        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
	        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
	        <div class="login-form">
	            <div class="sign-in-htm" ng-controller="loginController">
	            	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
	            	<form ng-submit="login()">
		                <div class="group">
		                    <label for="user" class="label">Username</label>
		                    <input id="user" type="text" class="input" name="username" ng-model="loginForm.username" required>
		                </div>
		                <div class="group">
		                    <label for="pass" class="label">Password</label>
		                    <input id="pass" type="password" class="input" data-type="password" name="password" ng-model="loginForm.password" required>
		                </div>
		                <div class="group">
		                    <button type="submit" class="button" ng-disabled="disabled">Log in</button> 
		                </div>
		                <div class="hr"></div>
		                <div class="foot-lnk">
		                    <a href="/forgot.html">Forgot Password?</a>
		                </div>
	                </form>
	            </div>
	            <div class="sign-up-htm" ng-controller="signupController">
	            	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
	            	<form>
		            	<div class="group">
		                    <label for="fn" class="label">First Name</label>
		                    <input id="fn" type="text" class="input" ng-model='firstname' required>
		                </div>
		                <div class="group">
		                    <label for="ln" class="label">Last Name</label>
		                    <input id="ln" type="text" class="input" ng-model='lastname' required>
		                </div>
		                <div class="group">
		                    <label for="eml" class="label">E-mail</label>
		                    <input id="eml" type="email" class="input" ng-model='email' required>
		                </div>
		                <div class="group">
		                    <label for="user" class="label">User Name</label>
		                    <input id="user" type="text" class="input" ng-model='username' required>
		                </div>
		                <div class="group">
		                    <label for="pass" class="label">Password</label>
		                    <input id="pass" type="password" class="input" data-type="password" ng-model='password' required>
		                </div>
		                <div class="group">
		                    <label for="rpass" class="label">Repeat Password</label>
		                    <input id="rpass" type="password" class="input" data-type="password" ng-model='rpassword' required>
		                </div>
		                <div class="group">
		                    <button type="submit" class="button" ng-click="doSignup()">Sign Up</button>
		                </div>
		                <div class="hr"></div>
		                <div class="foot-lnk">
		                    <label for="tab-1">Already Member?</a>
		                </div>
		            </form>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
