<!doctype html>
<html lang="en" ng-app="vEstate">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>vEstate AngularJS</title>
  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/vEstate-ui/dist/css/vEstate.min.css">
  <link rel="stylesheet" type="text/css" href="components/dropdown.css">
  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="js/module.js"></script>
  <script type="text/javascript" src="js/routes.js"></script>
  <script type="text/javascript" src="js/directives/loading.js"></script>
  <script type="text/javascript" src="js/directives/widget-body.js"></script>
  <script type="text/javascript" src="js/directives/widget-footer.js"></script>
  <script type="text/javascript" src="js/directives/widget.js"></script>
  <script type="text/javascript" src="js/controllers/master-ctrl.js"></script>
  <script type="text/javascript" src="js/controllers/displayUser.js"></script>
  <script type="text/javascript" src="js/controllers/changePassword.js"></script>
  <script type="text/javascript" src="js/controllers/listController.js"></script>
  <script type="text/javascript" src="js/controllers/formController.js"></script>
  <script type="text/javascript" src="js/controllers/editController.js"></script>
  <script type="text/javascript" src="js/controllers/vuforiaController.js"></script>
  <script type="text/javascript" src="js/controllers/modeluploadController.js"></script>
  <script type="text/javascript" src="js/authentication.js"></script>
  <script type="text/javascript" src="js/controllers/formControllerVR.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <div class="dropdown">
            <button class="dropbtn">A.R.</button>
            <div class="dropdown-content">
              <a href="#/enter" id="formpage">Enter Marker Details <span class="menu-icon fa fa-table"></span></a>
              <a href="#/data" id="listpage">List <span class="menu-icon fa fa-table"></span></a>
            </div>
          </div>
        </li>
        <li class="sidebar-list">
          <div class="dropdown">
            <button class="dropbtn">V.R.</button>
            <div class="dropdown-content">
              <a href="#/entervr" id="formpage">Enter Data <span class="menu-icon fa fa-table"></span></a>
              <a href="#" id="listpage">Test Link 2 <span class="menu-icon fa fa-table"></span></a>
            </div>
          </div>
        </li>
        <li class="sidebar-list">
          <a href="#/change" id="changepage">Change Password</a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <button id="logoutbutton" type="submit" ng-click="logout()">Log Out</button>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Web Services for VIRTUAL ESTATE
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->


        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
